*{

margin: 0px;
font-family: Lato;
font-style: normal;

}
.prime-button{
display: inline-flex;
padding: 12px 49px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 6px;
color: white;
background: #E55473;
border: none;

}
/* header section */

.head{
width:1500px;
background: rgba(229, 84, 115, 0.10);
height: 800px;
display: flex;
align-items: center;
justify-content: space-between;

}
.head h1{

color: #272727;
font-size: 80px;
font-weight: 800;
line-height: normal;




}

.head p{
margin-top: 32px;
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-style: normal;
font-weight: 400;

}

.head button{
font-size: 20px;
margin-top: 32px;

}

.desc{
margin-left: 120px;

}
.head-img{
margin-right: 80px;

}
/* ................available flower section........................... */

.second-title{
color: #272727;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 800;



}
.para{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;


}

.avl h2{

margin-top: 128px;
font-weight: bold;

}
.avl p{

margin-top: 20px;
}

.all-flowers{

margin-top: 54px;
margin-left: 120px;
margin-right: 240px;

}

.images1{
display: flex;
justify-content: space-between;

}
.images2{

display: flex;
}
.flower-box{

width: 350px;
height: 482px;
flex-shrink: 0;
border-radius: 8px;
margin-left: 5px;
margin-right: 20px;
background: rgba(229, 84, 115, 0.10);


}

.flower-box img{
width: 240px;
height: 360.563px;

}
.flower-box p{
color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-weight: 700;
margin-top: 20px;


}

.images2{
margin-top: 20px;

}
.bestseller{

margin: 64px 120px 20px 40px;

}
.best-flower{
width: 342px;
height: 482px;
flex-shrink: 0;
border-radius: 300px;
background: rgba(39, 39, 39, 0.03);
text-align: center;

}

.bestseller h2{
margin-top: 20px;

}
.bestseller p{
margin-top: 20px;

}

.best-flower img{
width: 220px;
height: 343px;
flex-shrink: 0;
}

.best-flower p{
color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-weight: 700;
margin-top: 20px;


}

/* ...................... */

.deal{

background: rgba(229, 84, 115, 0.10);
height: 600px;
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);

margin-top: 120px;

}

.deal-title h2{

color: #272727;
font-size: 48px;
font-style: normal;
font-weight: bold;
text-align: center;

}

.deal-title p{
margin-top: 20px;
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
}

.deal-title button{

margin-top: 30px;
margin-left: 200px;
font-size: 18px;

}

.deal-title{

margin-left: 120px;

}

.deal-image img{
width: 318px;
height: 420px;
margin-right: 380px;


}


/* ......................................... */

.insta{

margin-top: 120px;
margin-left: 50px;
margin-right: 240px;

}

.insta-title{

justify-content: center;
align-items: center;

}


.insta-title p{
margin-top: 20px;
text-align: center;
font-size: 18px;

}

.insta-images{
margin-top: 20px;
display: flex;
margin-right: 300px;

}
.insta-box{

width: 342px;
height: 396px;
flex-shrink: 0;
margin-left: 10px;
margin-right: 10px;

}

/* ...................... */

.feedback{

margin-top: 30px;
justify-content: left;
margin-left: 200px;
/* margin-right: 240px; */
width: 500px;
height: 600px;
 background-color: #f2f2f2; 
padding: 20px; 
 word-spacing: 4px; 
line-height: 1.5; 
border-radius: 30px;


}

.all-feeds{
display: flex;
margin-left: 100px;
}

.feed-button{
text-decoration: none;
display: flex;
align-items: center;
justify-content: center;
margin-top: 80px;
margin-left: 100px;
}

.person{

display: flex;
align-items: center;


}

.person-image {
  width: 100px; 
  height: 100px;
  border-radius: 50%; 
  overflow: hidden; 
}

.person-image img {
  width: 100%; 
  height: auto;
}

.person-name {
margin-left: 20px;
}

.feedback p{
margin-top: 20px;
font-size: 25px;


}





/* ...................... */
.latest-deals{
margin-top: 200px;
width: 1500px;
height: 600px;
flex-shrink: 0;
border-radius: 8px;
background-image: url("Flower Asset/Rectangle\ 9.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
align-items: center;
justify-content: center;
}

.deal-title{

margin-right: 60px;

}

.button input{

width: 500px;
height: 32px;
padding: 10px;
margin-left: 20px;
border: none;
font-size: 20px;
}
.button button{


margin-right: 100px;
}


.footer{
margin-top: 80px;
background-color: black;
width: 1500px;
height: 400px;
color: white;
display: flex;
align-items: center;
justify-content: center;

}

.footer h2{
color:white;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-left: 30px;
margin-right: 60px;
}
.footer span{

color: #E55473;


}
.footer p{
margin-top: 20px;
color: rgba(255, 255, 255, 0.90);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
margin-right: 50px;

}